/**
 * 定义导航栏样式变量(前缀: nav)
 */

// ------------------------------------ Start ---------------------------------------

// 宽度 nav-width
$nav-nw: 200px;
// 高度 nav-height
$nav-nh: 30px;
// 字体 font-size
$nav-fs: 24px;

// ------------------------------------- End ----------------------------------------